/* 可放在 index.css, global.css, 或 styled-components 全局样式中 */
body,
html {
  transition: background-color 0.4s ease, color 0.4s ease;
}

* {
  transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
}

body {
  margin: 0;
}

#root {
  width: 100svw;
  height: 100svh;
}


.apps {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 100svh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  /* 根据需要调整宽度 */
  padding: 20px;
  /* 可选：为网格添加一些内边距 */
  background-color: #f0f0f0;
  /* 可选：添加背景颜色 */
}

.grid-item {
  background-color: #ffd3d3;
  /* 方块颜色 */
  color: white;
  /* 文本颜色 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  /* 根据需要调整文本大小 */
  height: 100px;
  /* 方块高度 */
}


.uniformed-scroller::-webkit-scrollbar {
  width: 8px;
}

.uniformed-scroller::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.uniformed-scroller::-webkit-scrollbar-track {
  background-color: transparent;
}

.uniformed-scroller {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* 隐藏滚动条且不占用空间的样式 */
.invisible-scroller::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
  background: transparent;
}

.invisible-scroller::-webkit-scrollbar-thumb {
  background: transparent;
}

.invisible-scroller::-webkit-scrollbar-track {
  background: transparent;
}

.invisible-scroller::-webkit-scrollbar-corner {
  background: transparent;
}

.invisible-scroller {
  /* Firefox */
  scrollbar-width: none !important;
  /* IE and Edge */
  -ms-overflow-style: none !important;
}